<!DOCTYPE html>
<html lang="en">
<head>

	<title>Gordon Hamilton</title>
	<!--

    Template 2106 Soft Landing

	http://www.tooplate.com/view/2106-soft-landing

    -->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/tooplate-style.css">

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader" id= "background">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" id= "background" role="navigation">
          <div class="container">
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <!-- <img style= "height: 90%; margin: auto;" src="static/images/Gordon Hamilton Logo.png"class="img-responsive" alt="Catherine Soft"> -->
                    <!-- <a href="index.html" class="navbar-brand">Soft Landing</a> -->
                   
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <!-- <li id="name"> <a style= "color:wheat;" id="name" href="/"> Gordon Hamilton</a> </li> -->
                    <ul class="nav navbar-nav navbar-left">
                         <!-- <li> <h2 >Gordon Hamilton</h2> </li> -->
                         <li id="name"> <a style= "color:wheat;" id="name" href="/"> Gordon Hamilton</a> </li>
                         <li> <a href="/">                  </a> </li>
                         <li> <a href="/">               </a> </li>
                      
                     </ul>
                    <ul class="nav navbar-nav">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                         <li><a href="#feature" class="smoothScroll">Projects</a></li>
                         <li><a href="#about" class="smoothScroll">About Me</a></li>
                         <!-- <li><a href="#pricing" class="smoothScroll">Pricing</a></li> -->
                         <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="https://github.com/gord02"><i class="fa fa-github"></i> Github</a></i> </li>
                         <!-- <li><a href="#">Say hello - <span>info@soft.co</span></a></li> -->
                    </ul>
               </div>

          </div>
     </section>


     <!-- FEATURE -->
     <section id="home" id= "background" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container"  style=" width: 1910px; margin: 0px; margin-top: -50px;">
               <div class="row">
                    <canvas id="canvas" style= "width: 100%;"></canvas>
                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="home-info" id="stack" style="margin: -515px;">
                              <h2 style= "display: inline;">Gordon Hamilton</h2>
                              <h4>C++ - Web Development- Python</h4>

                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature" data-stellar-background-ratio="0.5" id= "background">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h1 style= "color:wheat; text-align: center;" id="color" >Projects</h1>
                    </div>
               </div>

          </div>
               <div style= " width: 1315px; margin-left: 300px; margin-right: 0px;" class="container">
                    
                    <!-- Button trigger modal -->
                    <button style="width: 200px; height:170px; margin: 50px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl">  <img style= "opacity: 0.5; margin-bottom: 10px;" src="static/images/restfulblogapp.png" class="img-responsive" alt="Catherine Soft">RESTFUL Blog App </button>
                    <!-- Modal -->
                    <div class="modal fade" id="mdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-content" style="width:1500px; margin: auto; margin-top: 82px;">
                              <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                   </button>
                                   <h2 style="color: black;">RESTFUL Blog App</h2>
                              </div>
                              <div style="height: 750px;" class="modal-body">
                                   <img style= "height: 90%;margin: auto; "src="static/images/restfulblogapp.png" class="img-responsive" alt="RESTFUL blog App">
                                        <p  style="color: black; margin-top: 20px;"> 
                                             This small web application I created was done to help teach myslef how to implement RESTFUL routing.
                                        </p>
                         
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                         </div>
                    </div>
                    <!-- Button trigger modal -->
                    <button style="width: 200px; height:170px; margin: 50px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027); " type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> <img style= "opacity: 0.5; margin-bottom: 10px;" src="static/images/yelpcamp.png" class="img-responsive" alt="YelpCamp Project">YelpCamp Project</button> 
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-content" style="width:1500px; margin: auto; margin-top: 82px;">
                                   <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h2 style="color: black; margin-top: 10px; margin:auto;">YelpCamp Project</h2>
                                   </div>
                                   <div style="height: 750px;" class="modal-body">
                                        <img style= "height: 90%; margin: auto;" src="static/images/yelpcamp.png"class="img-responsive" alt="YelpCamp Project">
                                        <p style="color: black; margin-top: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam aperiam quae obcaecati saepe placeat laudantium soluta voluptates dolor repellat nemo reprehenderit at numquam amet ea, natus molestias inventore quam!</p>
                                   </div>
                                   <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                   </div>
                              </div>
                    </div>
                    <!-- Button trigger modal -->
                    <button style="width: 200px; height:170px; margin: 50px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027); " type="button" class="btn btn-primary" data-toggle="modal" data-target="#md2"> <img style= "opacity: 0.5; margin-bottom: 10px;" src="static/images/particlefire.png" class="img-responsive" alt="Particle fire Simulator">Particle fire Simulator </button>
                    <!-- Modal -->
                    <div class="modal fade" id="md2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-content" style="width:1500px; margin: auto; margin-top: 82px;">
                                   <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                   </div>
                                   <div style="height: 750px;" class="modal-body">
                                        <img style= "height: 90%; margin: auto;" src="static/images/particlefire.png" class="img-responsive" alt="Particle fire Simulator">
                                        <p style="color: black; margin-top: 20px;"> Programmed the path and interaction of the particles created and subsequently visually depicted their interaction using the SDL Library. The particle fire simulator is object oriented programming projects that in essence plots colored pixels in a moving pattern that simulates a fire like object</p>
                                   </div>
                                   <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                   </div>
                              </div>
                    </div>
                         <!-- Button trigger modal -->
                    <button style="width: 200px; height:170px; margin: 50px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027); " type="button" class="btn btn-primary" data-toggle="modal" data-target="#md3"> <img style= "opacity: 0.5; margin-bottom: 10px;" src="static/images/Patatap.png" class="img-responsive" alt="Patatap Project"> Patatap Project </button>
                    <!-- Modal -->
                    <div class="modal fade" id="md3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-content" style="width:1500px; margin: auto; margin-top: 82px;">
                              <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                   </button>
                              </div>
                              <div style="height: 750px;" class="modal-body">
                                   <img style= "height: 90%; margin: auto;" src="static/images/Patatap.png" class="img-responsive" alt="Patatap">
                                   <p style="color: black; margin-top: 20px;"> This project uses libarires that import sound, these sounds are activated when any letter is pressed on keyboard which also produces a circle of varying colors</p>
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                         </div>
                    </div>
                    <!-- Button trigger modal -->
                    <button style="width: 200px; height:170px; margin: 50px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027); " type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl4"> Launch demo modal </button>
                    <!-- Modal -->
                    <div class="modal fade" id="mdl4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-content" style="width:1500px; margin: auto; margin-top: 82px;">
                              <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                   </button>
                              </div>
                              <div style="height: 750px;" class="modal-body">
                                   ...
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                         </div>
                    </div>
                    <!-- Button trigger modal -->
                    <button style="width: 200px; height:170px; margin: 50px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027); " type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl6"> <img style= "opacity: 0.5; margin-bottom: 10px;" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.universal-sci.com%2Fheadlines%2F2019%2F8%2F26%2Fnew-findings-show-that-some-exoplanets-might-be-more-habitable-than-earth&psig=AOvVaw1GiKz0rdr72g9jtLDXyq-i&ust=1595612887103000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDLl6_34-oCFQAAAAAdAAAAABAD" class="img-responsive" alt="Exoplanets"> <p>Comming soon...</p> Exoplanets </button>
                    <!-- Modal -->
                    <div class="modal fade" id="mdl6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-content" style="width:1500px; margin: auto; margin-top: 82px;">
                              <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                   </button>
                              </div>
                              <div style="height: 750px;" class="modal-body">
                                   <img style= "height: 90%; margin: auto;" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.universal-sci.com%2Fheadlines%2F2019%2F8%2F26%2Fnew-findings-show-that-some-exoplanets-might-be-more-habitable-than-earth&psig=AOvVaw1GiKz0rdr72g9jtLDXyq-i&ust=1595612887103000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDLl6_34-oCFQAAAAAdAAAAABAD" alt="Exoplanets">
                                   ...
                                   <p style="color: black; margin-top: 20px;"> This will be a website that is essentially a catalog for exoplanet discroveries!</p>
                              </div>
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                         </div>
                    </div>
               </div>
               
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5" id= "background" >
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="section-title">
                              <h1 style= "color:wheat;" id="color" >About Me</h1>
                         </div>
                    </div>
    

                    <div class="col-md-offset-3 col-md-6 col-sm-12" stlye= "padding: 0px; width: 900px; margin-left: 180px;">
                         <p stlye= "padding: 0px; width: 900px; margin-left: 180px;">
                              Hello, I am a programmer from Ontario, Canada currently in my last year of highschool. I have been programming for the past two years, working tirelessly during the free time I had. I am interested in ____ and back-end development. Outside of computer programming, I am interested in physics more specifically astronomy! For more skill based information please refer to my resume linked below.
                         </p>
                    </div>
                    <!-- padding-top: 13px; -->

                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                      <a class="btn btn-primary"  href="/resume" target="_blank" style="background: #337ab7; margin-left: 208px;"> <i class="file icon"></i> Resume </a>
                    </div>

                         <!-- <div class="team-thumb">
                              <img src="static/images/team-image1.jpg" class="img-responsive" alt="Andrew Orange">
                              <div class="team-info team-thumb-up">
                                   <h2>Andrew Orange</h2>
                                   <small>Art Director</small>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                              </div>
                         </div> -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                         <!-- <div class="team-thumb">
                              <div class="team-info team-thumb-down">
                                   <h2>Catherine Soft</h2>
                                   <small>Senior Manager</small>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                              </div>
                              <img src="static/images/team-image2.jpg" class="img-responsive" alt="Catherine Soft">
                         </div> -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                         <div class="team-thumb">
                              <!-- <img src="static/images/team-image3.jpg" class="img-responsive" alt="Jack Wilson">
                              <div class="team-info team-thumb-up">
                                   <h2>Jack Wilson</h2>
                                   <small>CEO / Founder</small>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                              </div> -->
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- TESTIMONIAL
     <section id="testimonial" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="testimonial-image"></div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="testimonial-info">
                              
                              <div class="section-title">
                                   <h1>What People Say</h1>
                              </div>

                              <div class="owl-carousel owl-theme">
                                   <div class="item">
                                        <h3>Vestibulum tempor facilisis efficitur. Sed nec nisi sit amet nibh pellentesque elementum. In viverra ipsum ornare sapien rhoncus ullamcorper.</h3>
                                        <div class="testimonial-item">
                                             <img src="images/tst-image1.jpg" class="img-responsive" alt="Michael">
                                             <h4>Michael</h4>
                                        </div>
                                   </div>

                                   <div class="item">
                                        <h3>Donec pretium tristique elit eget sodales. Pellentesque posuere, nunc id interdum venenatis, leo odio cursus sapien, ac malesuada nisl libero eget urna.</h3>
                                        <div class="testimonial-item">
                                             <img src="images/tst-image2.jpg" class="img-responsive" alt="Sofia">
                                             <h4>Sofia</h4>
                                        </div>
                                   </div>

                                   <div class="item">
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</h3>
                                        <div class="testimonial-item">
                                             <img src="images/tst-image3.jpg" class="img-responsive" alt="Monica">
                                             <h4>Monica</h4>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </div>
                    
               </div>
          </div>
     </section> -->

     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5" id= "background" >
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h1 style= "color:wheat; text-align: center;" id="color">Contact Me</h1>
                              </div>

                              <div class="col-md-6 col-sm-6" style= "padding-left: 6px;">
                                   <input style= "color: white;" type="text" class="form-control" placeholder="Full name" name="name" required>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                   <input style= "color: white;" type="email" class="form-control" placeholder="Email address" name="email" required>
                              </div>
                              <div class="col-md-12 col-sm-12">
                                   <textarea style= "color: white;" class="form-control" rows="8" placeholder="Your message" name="message" required></textarea>
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>
                         </form>
                    </div>

               </div>
          </div>
     </section>       


     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <p>Copyright &copy; 2020 Gordon Hamilton</p>  
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon" style="color:white;">
                                   <a href="https://github.com/gord02" style="color: white;"> <i class="fa fa-github" style= "color: white; font-size: 1.3em;" ></i> Github</a> 
                                   <a href="/" style= "color: white;"> <i class="fa fa-linkedin" aria-hidden="true" style= "color: white; font-size: 1.3em;" ></i> Linkden</a>
                                   <!-- <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li> -->
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="static/js/jquery.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <script src="static/js/jquery.stellar.min.js"></script>
     <script src="static/js/owl.carousel.min.js"></script>
     <script src="static/js/smoothscroll.js"></script>
     <script src="static/js/custom.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
     <script src="static/js/style.js"></script>


</body>
</html>